server:
  port: 8080

spring:
  application:
    name: gateway-service
  security:
    oauth2:
      client:
        registration:
          gateway-client:
            client-id: gateway-client
            client-secret: gateway-secret
            authorization-grant-type: client_credentials
            scope: gateway
        provider:
          gateway-client:
            token-uri: ${TOKEN_URI:http://auth-server:9100/oauth2/token}
      resourceserver:
        jwt:
          issuer-uri: http://auth-server:9100
  cloud:
    gateway:
      default-filters:
        - PreserveHostHeader
      routes:
        - id: accounts-service
          uri: http://accounts-service:8081
          predicates:
            - Path=/api/accounts/**
        - id: cash-service
          uri: http://cash-service:8082
          predicates:
            - Path=/api/cash/**
        - id: transfer-service
          uri: http://transfer-service:8083
          predicates:
            - Path=/api/transfers/**
        - id: exchange-service
          uri: http://exchange-service:8084
          predicates:
            - Path=/api/exchange/**
        - id: exchange-service-generator
          uri: http://exchange-generator-service:8085
          predicates:
            - Path=/api/exchange/generate/**
        - id: notifications-service
          uri: http://notifications-service:8087
          predicates:
            - Path=/api/notifications/**
        - id: blocker-service
          uri: http://blocker-service:8086
          predicates:
            - Path=/api/blocker/**
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins: "*"
            allowed-methods: "*"
            allowed-headers: "*"

management:
  endpoints:
    web:
      exposure:
        include: gateway,health,info
