server:
  port: 8100

spring:
  application:
    name: gateway-service
  security:
    oauth2:
      client:
        registration:
          gateway-client:
            client-id: gateway-client
            client-secret: gateway-secret
            authorization-grant-type: client_credentials
            scope: gateway
        provider:
          gateway-client:
            token-uri: ${TOKEN_URI:http://auth-server:9100/oauth2/token}
      resourceserver:
        jwt:
          issuer-uri: http://auth-server:9100
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - PreserveHostHeader
          routes:
            - id: accounts-service
              uri: lb://accounts-service
              predicates:
                - Path=/api/accounts/**
            - id: cash-service
              uri: lb://cash-service
              predicates:
                - Path=/api/cash/**
            - id: transfer-service
              uri: lb://transfer-service
              predicates:
                - Path=/api/transfers/**
            - id: exchange-service
              uri: lb://exchange-service
              predicates:
                - Path=/api/exchange/**
            - id: exchange-service-generator
              uri: lb://exchange-generator-service
              predicates:
                - Path=/api/exchange/generate/**
            - id: notifications-service
              uri: lb://notifications-service
              predicates:
                - Path=/api/notifications/**
            - id: blocker-service
              uri: lb://blocker-service
              predicates:
                - Path=/api/blocker/**
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          globalcors:
            cors-configurations:
              '[/**]':
                allowed-origins: "*"
                allowed-methods: "*"
                allowed-headers: "*"

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: gateway,health,info
