server:
  port: 8100

spring:
  application:
    name: gateway-service
  profiles:
    include: tracing,metrics
  security:
    oauth2:
      client:
        registration:
          gateway-client:
            client-id: gateway-client
            client-secret: gateway-secret
            authorization-grant-type: client_credentials
            scope: gateway
        provider:
          gateway-client:
            token-uri: ${TOKEN_URI:http://bank-app-auth-server:9100/oauth2/token}
      resourceserver:
        jwt:
          issuer-uri: http://bank-app-auth-server:9100
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - PreserveHostHeader
          routes:
            - id: accounts-service
              uri: http://bank-app-accounts-service.bank-app-dev.svc.cluster.local:8081
              predicates:
                - Path=/api/accounts/**
            - id: cash-service
              uri: http://bank-app-cash-service.bank-app-dev.svc.cluster.local:8082
              predicates:
                - Path=/api/cash/**
            - id: transfer-service
              uri: http://bank-app-transfer-service.bank-app-dev.svc.cluster.local:8083
              predicates:
                - Path=/api/transfers/**
            - id: front-ui-exchange-rates
              uri: http://bank-app-front-ui.bank-app-dev.svc.cluster.local:8090
              predicates:
                - Path=/api/exchange/rates
            - id: exchange-service
              uri: http://bank-app-exchange-service.bank-app-dev.svc.cluster.local:8084
              predicates:
                - Path=/api/exchange/**
            - id: exchange-generator-service
              uri: http://bank-app-exchange-generator-service.bank-app-dev.svc.cluster.local:8085
              predicates:
                - Path=/api/exchange/generate/**
            - id: notifications-service
              uri: http://bank-app-notifications-service.bank-app-dev.svc.cluster.local:8087
              predicates:
                - Path=/api/notifications/**
            - id: blocker-service
              uri: http://bank-app-blocker-service.bank-app-dev.svc.cluster.local:8086
              predicates:
                - Path=/api/blocker/**
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          globalcors:
            cors-configurations:
              '[/**]':
                allowed-origins: "*"
                allowed-methods: "*"
                allowed-headers: "*"

eureka:
  client:
    enabled: false
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: gateway,health,info
