server:
  port: 8761

spring:
  application:
    name: eureka-server
  cloud:
    config:
      uri: http://config-server:8888
      fail-fast: false

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    wait-time-in-ms-when-sync-empty: 0
    enable-self-preservation: false

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
