spring:
  application:
    name: blocker-service
  redis:
    host: redis
    port: 6379
  cloud:
    discovery:
      enabled: true

server:
  port: 8085

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

blocker:
  rules:
    max-daily-transfer: 1000000
    max-single-transfer: 100000
    suspicious-countries: ${SUSPICIOUS_COUNTRIES:RU,BY,IR,KP}
    max-attempts: 3
    block-duration-minutes: 60
