apiVersion: v1
kind: Secret
metadata:
  name: {{ include "postgresql.fullname" . }}
  labels:
    {{- include "postgresql.labels" . | nindent 4 }}
type: Opaque
stringData:
  POSTGRES_USER: {{ .Values.username | quote }}
  POSTGRES_PASSWORD: {{ .Values.password | quote }}
  POSTGRES_DB: {{ .Values.database | quote }}
